<script src="https://cdn.tailwindcss.com"></script>
<style >
@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body,
main {
  height: 100vh;
}
</style>
    <h1><%=name%></h1>
    <h1><%=age%></h1>
    <main class="relative container px-8">
      <div class="flex flex-row space-x-18 mx-auto h-full">
        <!-- side-bar -->
        <div
          class="flex flex-col px-3 space-y-10 justify-around my-6 bg-emerald-100 items-center rounded-tl-3xl rounded-bl-3xl"
        >
          <div
            class="bg-slate-300 px-6 w-8/12 flex justify-center py-1 rounded-md shadow-md shadow-black text-center"
          >
            Yoga
          </div>
          <div class="flex flex-col space-y-6 text-xs">
            <!-- left nav item-1 -->
            <div class="flex flex-row space-x-4 items-center">
              <img src="/images/profile-dashboard.png" alt="" class="h-7" />
              <p><a href="#">Dashboard</a></p>
            </div>
            <!-- left nav item-2 -->
            <div class="flex flex-row space-x-4 items-center">
              <img src="/images/graph.png" alt="" class="h-6" />
              <p><a href="#" class="ml-1">Schedule</a></p>
            </div>
            <!-- left nav item-3 -->
            <div class="flex flex-row space-x-4 items-center">
              <img src="/images/group.png" alt="" class="h-6" />
              <p><a href="#" class="ml-1">Yoga Class</a></p>
            </div>
            <!-- left nav item-4 -->
            <div class="flex flex-row space-x-4 items-center">
              <img src="images/deadline.png" alt="" class="h-6" />
              <p><a href="#" class="ml-1">Meals Program</a></p>
            </div>
            <!-- left nav item-4 -->
            <div class="flex flex-row space-x-4 items-center">
              <img src="images/chat.png" alt="" class="h-6" />
              <p><a href="#" class="ml-1">Chat</a></p>
            </div>
            <!-- left nav item-5 -->
            <div class="flex flex-row space-x-4 items-center">
              <img src="images/image.png" alt="" class="h-6" />
              <p><a href="#" class="ml-1">Gallery</a></p>
            </div>
          </div>
          <!-- membership div -->
          <div
            class="flex flex-col space-y-4 mt-28 bg-amber-100 p-5 rounded-md items-center"
          >
            <img src="images/member-card.png" alt="" class="h-16 w-16 -mt-14" />
            <p class="w-24 text-center">Fit For Your Lifestyle</p>
            <p class="text-xs w-28">
              Get a member card to access all the features
            </p>
          </div>
        </div>
        <!-- middle-part -->
        <div class="flex flex-col px-3 space-y-10 my-6 items-center">
          <div class="flex flex-row space-x-10">
            <div class="flex flex-col space-y-4 items-center">
              <div>
                <img src="images/user-vector.webp" alt="" class="h-60 w-60" />
              </div>
              <div class="flex justify-center">
                <h1 class="font-bold text-2xl max-w-xs pl-16 text-green-800">
                  Wake up with a sunrise meditation
                </h1>
              </div>
              <p class="max-w-xs text-xs px-16 text-gray-400">
                Wake up with a sunrise meditation, sweat it out with lunchtime
                HIIT, or unwind with an evening flow
              </p>
            </div>
            <div class="flex flex-col space-y-8">
              <form action="#" class="flex space-x-2">
                <input
                  type="text"
                  class="border border-zinc-900 rounded-full w-36 px-4 pr-10"
                />
                <button>
                  <img src="images/search.png" alt="" class="w-6 h-6" />
                </button>
              </form>
            </div>
          </div>
          <div class="flex flex-row space-x-10"></div>
        </div>


        <!-- Right side part -->
        <div class="flex flex-col px-3 space-y-10 my-6 items-center">
          <div class="flex flex-row space-x-10">
            <div class="flex flex-col space-y-4 items-center">
              
            </div>
            
          </div>
          <div class="flex flex-row space-x-10"></div>
        </div>
      </div>
    </main>
